@model List<string>

<h2>Menu</h2>

<ul>

    <li><a asp-controller="Employee" asp-action="LeaveRequest">Подать заявку на отпуск</a></li>
    <li><a asp-controller="Employee" asp-action="GetReport">Получить отчет о доступном количестве дней отпусков</a></li>

</ul>