<!DOCTYPE html>
        <html lang="ru">
        <head>
            <meta charset="UTF-8">
            <title>AdminPanel</title>
            
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
            <link rel="stylesheet" href="./style_adm.css">
            
          
        </head>
        <body>
            <div class="frame-1">

                <div class="rectangle-2"></div>
  <div class="rectangle-1"></div>
 



  <div class="panelAdmin">Панель администратора</div>
  <div class="welcome">Добро пожаловать!</div>
  <div class="line-1"></div>


  <img class="user-gear-1" src="./user-gear-1.png" />

  <div class="rectangle-3"></div>

  <div class="rectangle-4"></div>

  <div class="rectangle-5"></div>

  <div class="rectangle-6"></div>

  <div class="ButtonChoose">Выберите опцию:</div>


  <a class="Button1" href="">Список сотрудников</a>
  <a class="Button2" href="">Добавление сотрудника</a>
  <a class="Button3" href="">Заявки на отпуск</a>
  <a class="Button4" href="">Удаление сотрудника</a>

</div>

</body>
</html>